{
    "swagger": "2.0",
    "info": {
        "description": "El API permite registrar, consultar, modificar y eliminar datos del sistema de información de la  Institución Educativa. Las funcionalidades estarán asociadas a las entidades de Estudiante, Docente y Curso.",
        "version": "1.0.0",
        "title": "CRUD REST API"
    },
    "host": "li1115-212.members.linode.com",
    "basePath": "/v1",
    "tags": [{
            "name": "Estudiante",
            "description": " Estudiante de la institución educativa"
        }, {
            "name": "Docente",
            "description": "Docente en la institución educativa"
        },
        {
            "name": "Curso",
            "description": "Curso ofrecido por la institución educativa"
        }
    ],
    "schemes": ["http"],
    "paths": {
        "/students": {
            "post": {
                "tags": ["Estudiante"],
                "summary": "Registra un nuevo estudiante al sistema de información",
                "description": "Al registrar un nuevo estudiante se consulta el api externo api.genderize.io para verificar que el género y los nombres ingresados son coherentes. Se envia el resultado en la respuesta con el fin de que el administrador revise posibles errores al ingresar los datos del estudiante",
                "operationId": "createStudent",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Datos de estudiante a registrar",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Estudiante"
                    }
                }],
                "responses": {
                     "200": {
                        "description": "Objeto con atributo checkGender calculado usando api.genderize.io (determina si es necesario revisar el género ingresado)",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "checkGender": {
                                    "type": "boolean",
                                    "description": "Determina si es necesario revisar el género ingresado"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": ["Estudiante"],
                "summary": "Consulta estudiantes en el sistema de información",
                "description": "Se consultará la lista de todos los estudiantes en caso de no especificar un texto asociado a la consulta. La lista de estudiantes serán paginados con un máximo de 10 elementos por página",
                "operationId": "getStudent",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "query",
                    "in": "query",
                    "description": "Texto asociado a la consulta de un estudiante.",
                    "type": "string"
                },{
                    "name": "page",
                    "in": "query",
                    "description": "Numero de pagina asociada a la paginación de la lista de resultados",
                    "type": "integer"
                }],
                "responses": {
                   "200": {
                       "description": "Lista de estudiantes asociados a la consulta",
                       "schema": {
                           "type": "array",
                           "items": {
                               "$ref": "#/definitions/Estudiante"
                           }
                       }
                   }
                }
            }
        },
        "/students/{studentID}":{   
            "put": {
                "tags": ["Estudiante"],
                "summary": "Modifica los datos de un estudiante",
                "description": "",
                "operationId": "updateStudent",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "studentID",
                    "in": "path",
                    "description": "Identificador de MongoDB asociado al estudiante",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "body",
                    "description": "Objeto con los nuevos datos del estudiante",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Estudiante"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Se han modificado los datos del estudiante"
                    }
                }
            },
            "delete": {
                "tags": ["Estudiante"],
                "summary": "Elimina los datos de un estudiante",
                "description": "",
                "operationId": "deleteStudent",
                "parameters": [{
                    "name": "studentID",
                    "in": "path",
                    "description": "Identificador de MongoDB asociado al estudiante",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Se han eliminado los datos del estudiante"
                    }
                }
            }
        },
        "/teachers": {
            "post": {
                "tags": ["Docente"],
                "summary": "Registra un nuevo docente al sistema de información",
                "description": "Al registrar un nuevo docente se consulta el api externo api.genderize.io para verificar que el género y los nombres ingresados son coherentes. Se envia el resultado en la respuesta con el fin de que el administrador revise posibles errores al ingresar los datos del docente",
                "operationId": "createTeacher",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Datos de docente a registrar",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Docente"
                    }
                }],
                "responses": {
                     "200": {
                        "description": "Objeto con atributo checkGender calculado usando api.genderize.io (determina si es necesario revisar el género ingresado)",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "checkGender": {
                                    "type": "boolean",
                                    "description": "Determina si es necesario revisar el género ingresado"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": ["Docente"],
                "summary": "Consulta docentes en el sistema de información",
                "description": "Se consultará la lista de todos los docentes en caso de no especificar un texto asociado a la consulta. La lista de docentes serán paginados con un máximo de 10 elementos por página",
                "operationId": "getTeacher",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "query",
                    "in": "query",
                    "description": "Texto asociado a la consulta de un docente.",
                    "type": "string"
                },{
                    "name": "page",
                    "in": "query",
                    "description": "Numero de pagina asociada a la paginación de la lista de resultados",
                    "type": "integer"
                }],
                "responses": {
                   "200": {
                       "description": "Lista de docentes asociados a la consulta",
                       "schema": {
                           "type": "array",
                           "items": {
                               "$ref": "#/definitions/Docente"
                           }
                       }
                   }
                }
            }
        },
        "/teachers/{teacherID}":{   
            "put": {
                "tags": ["Docente"],
                "summary": "Modifica los datos de un docente",
                "description": "",
                "operationId": "updateTeacher",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "teacherID",
                    "in": "path",
                    "description": "Identificador de MongoDB asociado al docente",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "body",
                    "description": "Objeto con los nuevos datos del docente",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Docente"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Se han modificado los datos del docente"
                    }
                }
            },
            "delete": {
                "tags": ["Docente"],
                "summary": "Elimina los datos de un docente",
                "description": "",
                "operationId": "deleteTeacher",
                "parameters": [{
                    "name": "teacherID",
                    "in": "path",
                    "description": "Identificador de MongoDB asociado al docente",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Se han eliminado los datos del docente"
                    }
                }
            }
        },
        "/courses": {
            "post": {
                "tags": ["Curso"],
                "summary": "Registra un nuevo curso al sistema de información",
                "description": "",
                "operationId": "createCourse",
                "consumes": ["application/json"],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "Datos de curso a registrar",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Curso"
                    }
                }],
                "responses": {
                     "200": {
                        "description": "Se ha registrado un nuevo curso"
                    }
                }
            },
            "get": {
                "tags": ["Curso"],
                "summary": "Consulta cursos en el sistema de información",
                "description": "Se consultará la lista de todos los cursos en caso de no especificar un texto asociado a la consulta. La lista de cursos serán paginados con un máximo de 10 elementos por página",
                "operationId": "getCourse",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "query",
                    "in": "query",
                    "description": "Texto asociado a la consulta de un curso",
                    "type": "string"
                },{
                    "name": "page",
                    "in": "query",
                    "description": "Numero de pagina asociada a la paginación de la lista de resultados",
                    "type": "integer"
                }],
                "responses": {
                   "200": {
                       "description": "Lista de cursos asociados a la consulta",
                       "schema": {
                           "type": "array",
                           "items": {
                               "$ref": "#/definitions/Curso"
                           }
                       }
                   }
                }
            }
        },
        "/courses/{courseID}":{   
            "put": {
                "tags": ["Curso"],
                "summary": "Modifica los datos de un curso",
                "description": "",
                "operationId": "updateCourse",
                "consumes": ["application/json"],
                "parameters": [{
                    "name": "courseID",
                    "in": "path",
                    "description": "Identificador de MongoDB asociado al curso",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "body",
                    "description": "Objeto con los nuevos datos del curso",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Curso"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Se han modificado los datos del curso"
                    }
                }
            },
            "delete": {
                "tags": ["Curso"],
                "summary": "Elimina los datos de un curso",
                "description": "",
                "operationId": "deleteCourse",
                "parameters": [{
                    "name": "courseID",
                    "in": "path",
                    "description": "Identificador de MongoDB asociado al curso",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Se han eliminado los datos del curso"
                    }
                }
            }
        }
    },
    "definitions": {
        "Estudiante": {
            "type": "object",
            "properties": {
                "givenName": {
                    "type": "string",
                    "description": "Nombres de estudiante"
                },
                "familyName": {
                    "type": "string",
                    "description": "Apellidos de estudiante"
                },
                "personalId": {
                    "type": "string",
                    "description": "Identificación de estudiante"
                },
                "gender": {
                    "type": "string",
                    "description": "Género de estudiante"
                }
            }
        },
        "Docente": {
            "type": "object",
            "properties": {
                "givenName": {
                    "type": "string",
                    "description": "Nombres del docente"
                },
                "familyName": {
                    "type": "string",
                    "description": "Apellidos del docente"
                },
                "personalId": {
                    "type": "string",
                    "description": "Identificación del docente"
                },
                "gender": {
                    "type": "string",
                    "description": "Género del docente"
                }
            }
        },
        "Curso": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "Nombre del curso"
                },
                "courseId": {
                    "type": "string",
                    "description": "Código del curso"
                },
                "observations": {
                    "type": "string",
                    "description": "Observaciones del curso"
                }
            }
        }
    },
    "externalDocs": {
        "description": "App Demo (USUARIO: admin CONTRASEÑA: pass)",
        "url": "http://li1115-212.members.linode.com"
    }
}